*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  /* outline: 1px solid red; */
}

:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  cursor: none;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.text-outline {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  -webkit-text-fill-color: transparent;
}

/* CURSOR STYLES */
#cursor {
  pointer-events: none;
  background-color: white;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  position: fixed;
  z-index: 1;
  opacity: 1;
  transform: rotate(-90deg);
  transition: opacity 250ms, scale 250ms;
}

#cursor.hidden {
  opacity: 0;
  /* transition: opacity 0.25s linear; */
}

svg {
  transform: translateX(calc(-50% + 2px)) translateY(calc(-50% + 2px));
  transition: 250ms linear;
}

circle {
  fill: none;
  stroke-width: 1px;
  stroke: white;
  stroke-linecap: round;
  transition: 500ms;
}

circle.back {
  opacity: 0.1;
}

circle.front {
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
}
